@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-heading: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
  --color-transparent: transparent;
  --radius-xs: calc(var(--radius) - 6px);
  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
  --font-serif: var(--font-serif);
  --font-display: var(--font-display);
  --font-text: var(--font-text);
  --font-handwriting: var(--font-handwriting);
}

:root {
  --background: oklch(0.9545 0.0046 258.3249);
  --foreground: oklch(0.2217 0.0126 264.2756);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2217 0.0126 264.2756);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2217 0.0126 264.2756);
  --primary: oklch(0.4833 0.0873 255.0550);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.6031 0.1107 41.8526);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.9367 0.0058 264.5315);
  --muted-foreground: oklch(0.4905 0.0298 270.7441);
  --accent: oklch(0.9088 0.0196 252.8865);
  --accent-foreground: oklch(0.3448 0.0685 255.0266);
  --destructive: oklch(0.5237 0.1707 27.0455);
  --border: oklch(0.8525 0.0141 258.3489);
  --input: oklch(0.8525 0.0141 258.3489);
  --ring: oklch(0.6178 0.0703 257.8148);
  --chart-1: oklch(0.4833 0.0873 255.0550);
  --chart-2: oklch(0.6031 0.1107 41.8526);
  --chart-3: oklch(0.6191 0.0750 240.6139);
  --chart-4: oklch(0.5406 0.0773 152.7118);
  --chart-5: oklch(0.7288 0.1150 84.3842);
  --radius: 0.625rem;
  --sidebar: oklch(0.9210 0.0075 260.7315);
  --sidebar-foreground: oklch(0.2217 0.0126 264.2756);
  --sidebar-primary: oklch(0.4833 0.0873 255.0550);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9088 0.0196 252.8865);
  --sidebar-accent-foreground: oklch(0.3448 0.0685 255.0266);
  --sidebar-border: oklch(0.8689 0.0106 261.7872);
  --sidebar-ring: oklch(0.6178 0.0703 257.8148);
  --font-sans: Geist, ui-sans-serif, system-ui, sans-serif;
  --font-serif: 'Instrument Serif', ui-serif, Georgia, serif;
  --font-mono: 'Geist Mono', ui-monospace, 'SF Mono', Menlo, monospace;
  --font-display: Geist, ui-sans-serif, system-ui, sans-serif;
  --font-text: Geist, ui-sans-serif, system-ui, sans-serif;
  --font-handwriting: "Caveat", cursive;
  --shadow-2xs: 0px 1px 4px -1px hsl(220.0000 15.7895% 11.1765% / 0.04);
  --shadow-xs: 0px 1px 4px -1px hsl(220.0000 15.7895% 11.1765% / 0.04);
  --shadow-sm: 0px 1px 4px -1px hsl(220.0000 15.7895% 11.1765% / 0.08), 0px 1px 2px -2px hsl(220.0000 15.7895% 11.1765% / 0.08);
  --shadow: 0px 1px 4px -1px hsl(220.0000 15.7895% 11.1765% / 0.08), 0px 1px 2px -2px hsl(220.0000 15.7895% 11.1765% / 0.08);
  --shadow-md: 0px 1px 4px -1px hsl(220.0000 15.7895% 11.1765% / 0.08), 0px 2px 4px -2px hsl(220.0000 15.7895% 11.1765% / 0.08);
  --shadow-lg: 0px 1px 4px -1px hsl(220.0000 15.7895% 11.1765% / 0.08), 0px 4px 6px -2px hsl(220.0000 15.7895% 11.1765% / 0.08);
  --shadow-xl: 0px 1px 4px -1px hsl(220.0000 15.7895% 11.1765% / 0.08), 0px 8px 10px -2px hsl(220.0000 15.7895% 11.1765% / 0.08);
  --shadow-2xl: 0px 1px 4px -1px hsl(220.0000 15.7895% 11.1765% / 0.20);
}

.dark {
  --background: oklch(0.2037 0.0110 260.6650);
  --foreground: oklch(0.9335 0.0087 264.5206);
  --card: oklch(0.2425 0.0147 261.6545);
  --card-foreground: oklch(0.9335 0.0087 264.5206);
  --popover: oklch(0.2758 0.0182 262.1965);
  --popover-foreground: oklch(0.9335 0.0087 264.5206);
  --primary: oklch(0.6347 0.0756 254.6243);
  --primary-foreground: oklch(0.1808 0.0095 255.6419);
  --secondary: oklch(0.6940 0.1017 45.5865);
  --secondary-foreground: oklch(0.1787 0.0239 47.7899);
  --muted: oklch(0.2758 0.0182 262.1965);
  --muted-foreground: oklch(0.6756 0.0235 265.6880);
  --accent: oklch(0.2921 0.0350 252.3026);
  --accent-foreground: oklch(0.8036 0.0477 249.4116);
  --destructive: oklch(0.6097 0.1654 25.8411);
  --border: oklch(0.3546 0.0230 261.2175);
  --input: oklch(0.3546 0.0230 261.2175);
  --ring: oklch(0.7194 0.0599 249.4577);
  --chart-1: oklch(0.6347 0.0756 254.6243);
  --chart-2: oklch(0.6940 0.1017 45.5865);
  --chart-3: oklch(0.7194 0.0599 249.4577);
  --chart-4: oklch(0.6451 0.0736 152.4322);
  --chart-5: oklch(0.7959 0.1048 86.4619);
  --sidebar: oklch(0.1808 0.0095 255.6419);
  --sidebar-foreground: oklch(0.9335 0.0087 264.5206);
  --sidebar-primary: oklch(0.6347 0.0756 254.6243);
  --sidebar-primary-foreground: oklch(0.1808 0.0095 255.6419);
  --sidebar-accent: oklch(0.2921 0.0350 252.3026);
  --sidebar-accent-foreground: oklch(0.8036 0.0477 249.4116);
  --sidebar-border: oklch(0.2758 0.0182 262.1965);
  --sidebar-ring: oklch(0.7194 0.0599 249.4577);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-display);
  }
  body, p {
    font-family: var(--font-text);
  }
  code, pre {
    font-family: var(--font-mono);
  }
}

@utility container {
    margin-inline: auto;
    padding-inline: 2rem;
}